@model IEnumerable<ModernTricks.Models.News_Comments>

@GetComments(0, 0);


@helper GetComments(int? parentId, int paddingRight)
{

    <div class="container">
        @foreach (var item in Model.Where(q=>q.ParentID==parentId))
        {
            string ssss = paddingRight.ToString() + "px";
            <div class="col-sm-12" style='padding:10px @ssss 0 0'>
                <div class="panel panel-default">

                    <div class="panel-heading" style="overflow:hidden">
                        <input type="hidden" id="@item.ID" newsID="@item.NewsID" parentID="@item.ParentID" class="hideInfo"/>
                        <div class="name col-sm-6"><h4>@item.Name <span class="label label-primary"></span></h4></div>
                        <div class="email col-sm-6"><h4>@item.Email <span class="label label-success"></span></h4></div>
                    </div>

                    <div class="panel-body">
                        <div class="textField col-sm-12"><p>@item.Text</p></div>
                    </div>
                    <div class="panel-footer">
                        <button class="btnShowCommentForm btn btn-primary">پاسخ</button>
                    </div>

                </div>
            </div>
            
            @GetComments(item.ID, paddingRight + 20);

        }
    </div>
}
<script>
    $(".btnShowCommentForm").on('click', function () {

        $(".AddComment ").slideUp('slow', function () { $(this).remove(); });
        
        var html = "";

        html += "<div class='AddComment col-md-12' style=display:none;margin-top:10px;>";
        html += " <div class='row'>";
        html += "  <div class='col-sm-6 form-group'>";
        html += "      <input type='text' name='name' class='txtNameComment' placeholder='نام و نام خانوادگی' style='color: rgb(152, 185, 215); ' />";
        html += "  </div>";
        html += "  <div class='col-sm-6 form-group'>";
        html += "      <input type='text' name=email class=txtEmailComment placeholder='آدرس ایمیل' style='color: rgb(152, 185, 215); ' />";
        html += "   </div>";
        html += " </div>";
        html += " <div class='row'>";
        html += "    <div class='col-sm-12 form-group'>";
        html += "       <textarea multiline='true' name='text' rows='5' class='form-control txtTextComment' placeholder='متن نظرتان را اینجا بنویسید'></textarea>";
        html += "       </div>";
        html += "   </div>";
        html += " <div class='row'>";
        html += "<div class='col-md-12 form-group'>";

        html += "<button type='button' class='btn btn-success pull-right btnAddChildComment'>ثبت </button>";
        html += "    </div>";
        html += " </div>";
        html += "  </div>";


        $(this).closest('.panel-footer').after(html);
        $(".AddComment").slideDown('slow');
        console.log($(this).closest(".panel").find(".hideInfo").attr("parentID"));
    })
    $(document).on('click', '.btnAddChildComment', function () {
        var $this = $(this);
      
       

        $.ajax({
            url: "/News/AddComments",
            method: "post",
            data:
                {
                    newsID:$this.closest('.panel').find(".hideInfo").attr('newsID') ,
                    parentID:$this.closest('.panel').find(".hideInfo").attr('id'),
                    name: $this.closest('.panel').find(".txtNameComment").val(),
                    email: $this.closest('.panel').find(".txtEmailComment").val(),
                    text: $this.closest('.panel').find(".txtTextComment").val()
                }

        }).done(function (result) {

            notify(result.state, result.msg);

            $(".AddComment ").slideUp();

        })
            .error(function (result) {
                notify(result.state, result.msg)
            });

        

    });
   
    
</script>